<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body> 
    <%- include('common/header'); %>   
    <h1>This is Login Page</h1>   <!-- if you want to add the file with the tags then you can add = and if you want to add the content of the common file then you can add the -(highfen) -->
</body>
</html>